<!DOCTYPE html>
<html lang="en">

<head>
    {{>link}}
</head>
<body>
    {{>navbar}}
    <img style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)" src="image/error.jpg" alt="">
    {{>footer}}
</body>
</html>