<!DOCTYPE html>
<html lang="en">

<head>
    {{>link}}
</head>

<body>
    {{>navbar}}
    <h2>Welcome to Weather app</h2>
    <br>
    <div id="yes">

        This website to forecaste the Weather of different cities of different countries. You can get appropriate
        information
        using <span style="color: rgb(80 176 231);"><b>World's Weather</b></span> website.
        When it comes to weather forecasting,this is one of the most popular weather sites we know. Searching
        for the weather report on this site is an easy task: you have to head to the website, and it will provide you
        with the live local atmospheric conditions as per your local location. In case you want to look for another
        place’s weather, you just have to type in the location or postal code for the place in the search bar.


    </div>
    <br> <br><br> <br><br><br> <br>
    <h2>Have a great day</h2>
    <!-- footer code -->
    {{>footer}}
</body>

</html>