<!DOCTYPE html>
<html lang="en">

<head>
  {{>link}}
</head>

<body>
  {{>navbar}}
  <!-- main weathe r -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">
          <form class="temp_form">
            <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
            <input type="submit" value="search" id="submitBtn">
          </form>
        </div>

        <div class="tempInformation">
          <div class="top_layer">
            <p id="day">Tuesday</p>
            <p id="today_date">16 Feb</p>
          </div>
          <div class="main_layer">
            <p id="city_name">Get Output Here</p>
            <div class="middle_layer data_hide">
              <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C </p>
              <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- footer code -->
  {{>footer}}

  <script src="js/main.js">

  </script>
  <script>
     var day = document.getElementById('day');
     const getCurrentDay = () =>{
       let weekday = new Array(7);
       weekday[0] = "Sunday";
       weekday[1] = "Monday";
       weekday[2] = "Tuesday";
       weekday[3] = "Wednesday";
       weekday[4] = "Thursday";
       weekday[5] ="Friday";
       weekday [6] ="Saturday";
       let currentTIme = new Date();
       let day = (weekday[currentTIme.getDay()]);
       document.getElementById('day').innerHTML = day;
     }
      getCurrentDay();

      var gdate = document.getElementById('today_date');
      const getCurrentDate = () =>{
        var months = [
                "Jan",
                "Feb",
                "Mar",
                "April",
                "May",
                "June",
                "July",
                "Aug",
                "Sept",
                "Oct",
                "Nov",
                "Dec"
            ];
            var now = new Date();
            var month = months[now.getMonth() + 1];
            var day = now.getDate();
            var hours = now.getHours();
            var mins = now.getMinutes();

            let periods = "AM";
            if(hours>11){
              periods = "PM";
              if(hours>12) hours -=12;
            }
            if(mins<10){
              mins = '0'+mins;
            }
            const timee = `${month} ${day} ${hours}:${mins} ${periods}`;
            gdate.innerHTML = timee;
            
      }
      getCurrentDate();
  </script>
</body>

</html>